<div class="container shadow-lg ">
	<div class="row justify-content-center pt-3"><strong>{{"User Registration"|uppercase}}</strong></div>
	<div class="row pt-4">
		<div class="col-md-12">
			<form [formGroup]='userRegistration' (ngSubmit)='userRegistrationData()'>
				<div class="row">
					<div class="col-md-3"> 
						<i class="fa fa-user pr-2"></i> 
						<label class="required">{{"first name"|uppercase}}</label>
					</div>
					<div class="col-md-7">
						<div class="form-group input-group">
							<input type="text"  class="form-control" placeholder="first name" formControlName="firstName" (blur)="firstNameValidation($event)" maxlength="25">
						</div> <!-- form-group// -->
					</div>
				</div>
						
				<div class="row">
					<div class="col-md-3"> 
						<i class="fa fa-user pr-2"></i> 
						<label>{{"last name"|uppercase}}</label>
					</div>
					<div class="col-md-7">
						<div class="form-group input-group">
							<input type="text"  class="form-control" placeholder="last name" formControlName="lastName" >
						</div> <!-- form-group// -->
					</div>
				</div>

				<div class="row">
					<div class="col-md-3"> 
						<i class="fa fa-user pr-2"></i> 
						<label class="required">{{"username"|uppercase}}</label>
					</div>
					<div class="col-md-7">
						<div class="form-group input-group">
							<input type="text"  class="form-control" placeholder="username" formControlName="username" (blur)="usernameValidation($event)" maxlength="25" >
						</div> <!-- form-group// -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-3"> 
						<i class="fa fa-envelope pr-2"></i>
						<label class="required">{{"email"|uppercase}}</label>
					</div>
					<div class="col-md-7">
						<div class="form-group input-group">
							<input type="email"  class="form-control" placeholder="email" formControlName="email" (blur)="emailValidation($event)" maxlength="25" >
						</div> <!-- form-group// -->
					</div>
				</div>

					<div class="row">
						<div class="col-md-3"> 
							<i class="fa fa-phone pr-2"></i>
							<label class="required">{{"contact "|uppercase}}</label>
						</div>
						<div class="col-md-3">
							<!-- <select formControlName="selectCountryCode" placeholder="code" class="form-control" >
								<option value="" >select country</option>
								<option *ngFor="let code of countryCode" [value]="code.code">{{code.name}}</option>
							</select> -->
							<input type="number" class="form-control" placeholder="country code" formControlName="selectCountryCode" maxlength="5" >
						</div>
						<div class="col-md-4">
							<input type="number" class="form-control" placeholder="contact number" formControlName="contactNumber" maxlength="10" >
						</div>
					</div>
	
				<div class="row pt-3">
					<div class="col-md-3"> 
						<i class="fas fa-building pr-2"></i>
						<label class="required">{{"select company "|uppercase}}</label>
					</div>
					<div class="col-md-3">
						<select formControlName="selectCompany" class="form-control" >
							<option value="" >select company</option>
							<option *ngFor="let company of companyList" [value]="company.id" (blur)="companyValidation($event)">
								{{company.companyName}}
							  </option>
						</select>
					</div>
				</div>
				<div class="row pt-3">
					<div class="col-md-3"> 
						<i class="fas fa-user-tag pr-2"></i>
						<label class="required">{{"select user role "|uppercase}}</label>
					</div>
					<div class="col-md-3">
						<select formControlName="selectUserRole" class="form-control" >
							<option value="" >select role</option>
							<option *ngFor="let userRole of userRoleList" [value]="userRole.roleId">
								{{userRole.roleName}}
							  </option>
						</select>
					</div>
				</div>

				<!-- <div class="row">
					<div class="col-md-6">
						<i class="fas fa-users"></i><label class=" ml-2 required" >{{"Select client"|uppercase}}</label>
						<div class="container client shadow ml-4">
							<div class="row">
								<div class="selectBox">
										<div class="form-check" *ngFor="let client of clientList">
											<input class="form-check-input " type="checkbox" [value]="client.selectedClient" (change)="selectedCheck($event)">
											<label class="form-check-label" for="flexCheckDefault">{{client.clientName|uppercase}}
											</label>
										</div>
								</div> 
							</div>
						</div>
					</div>
				</div> -->
				<div class="row pt-3">
					<div class="col-md-3"> 
						<i class="fas fa-calendar-day pr-2"></i>
						<label class="required">{{"validity period"|uppercase}}</label>
					</div>
					<div class="col-md-3">
						<div class="form-group input-group">
							<input type="date" id="startDate" class="form-control" formControlName="startDate" (blur)="startDateValidation($event)" >
						</div> <!-- form-group// -->
					</div>
					<div class="col-md-3">
						<div class="form-group input-group">
							<input type="date" id="endDate" class="form-control" formControlName="endDate" (blur)="endDateValidation($event)" >
						</div> <!-- form-group// -->
					</div>
				</div>
				
				<div class="row mb-3">
					<div class="col-md-3">
						<button type="submit" class="btn-lg text-white btn-success" [disabled]="!userRegistration.valid">
							<i class="fas fa-forward pr-1"></i>
							{{"submit"|uppercase}}</button>
					</div>
					<div class="col-md-3">
						<button type="button" routerLink="/userCompanyRegistration/menu" class="btn-lg btn-primary">
						<i class="fas fa-backward pr-1"></i>
							{{"back"|uppercase}}</button>
					</div>
					
				</div>
			</form>
		</div>
	</div>

</div>