.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-form-field {
    margin-top: 16px;
  } 

.textSize{
  font-size: large;
}

.coreTable{
  width: 500px;
  height: 350px;
  overflow-y: auto;
  //border: 2px solid gray;
}
.form-check-input{
  width: 20px;
  height: 20px;
}
.form-check-label{
  padding-left: 7px;
}
.selectBox{
  padding-top: 5px;
  padding-left: 10px;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
