<div class="container-fluid">
<div class="row">
<div class="col">
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <ng-template matStepLabel>table selection</ng-template>

    <div class="row">
        <div class="col-md-3 pl-5"> 
          <i class="fas fa-signature pr-2"></i>
          <label class="required">{{"mapping name"|uppercase}}</label>
        </div>
        <div class="col-md-3">
          <div class="form-group input-group">
            <input type="text"  class="form-control" placeholder="mapping name" [(ngModel)]="mappingName" (blur)="mappingNameValidation(mappingName)"(ngModelChange)="mappingName = $event.toUpperCase()" required>
          </div> 
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3 pl-5"> 
          <i class="fas fa-calendar-day pr-2"></i>
          <label class="required">{{"validity period"|uppercase}}</label>
        </div>
        <div class="col-md-3">
          <div class="form-group input-group">
            <input type="date" id="startDate" class="form-control" [(ngModel)]="startDate" (blur)="startDateValidation()">
          </div> 
        </div>
        <div class="col-md-3">
          <div class="form-group input-group">
            <input type="date" id="endDate" class="form-control" [(ngModel)]="endDate" (blur)="endDateValidation()">
          </div>
        </div>
      </div>
      
         <div class="container pt-2">
          <div class="row">
          <div class="col-md-6">
              <div class="container-fluid shadow"> 
                <div class="row pb-1 pl-2 pt-2 ">
                <div class="col-5 required">
                  {{"Select source table"|uppercase}}</div>
                <!-- <div class="col-1">
                  <i class="fas fa-search pl-4 pt-3"></i></div>
                  <div class="col-5">
                  <input type="text"  class="form-control" placeholder="search" [(ngModel)]="sourceSearch" (keyup)="sourceTableSearch($event)" required>
                </div> -->
                </div>
                <div class="row">
                  <div class="col mt-1 tableWrap">
                    <table>
                      <thead>
                          <tr>
                            <th>{{"TABLE NAME"|uppercase}}</th>
                            <th>{{"NO. OF COLUMNS"|uppercase}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of soureceTableList" (change)='sourceTableChange()'>
                             <td>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="item.tableSelected">
                                <label class="form-check-label pt-1" for="flexCheckDefault">{{item.tablename|uppercase}}</label>
                              </div>
                             </td>
                              <td>{{item.colCount}}</td>
                          </tr>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="container-fluid shadow"> 
              <div class="row pb-1 pl-2 pt-2 ">
              <div class="col-5 required">
                {{"Select core table"|uppercase}}</div>
              <!-- <div class="col-1">
                <i class="fas fa-search pl-4 pt-3"></i></div>
                <div class="col-5">
                <input type="text"  class="form-control" placeholder="search" [(ngModel)]="coreSearch"  required>
              </div> -->
              </div>
              <div class="row ">
                <div class="col mt-1 tableWrap">
                  <table>
                    <thead>
                        <tr>
                          <th>{{"TABLE NAME"|uppercase}}</th>
                          <th>{{"NO. OF COLUMNS"|uppercase}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of coreTableList">
                           <td>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="materialUncheckedDisabled2" name="disabledGroupExample2" (change)="coreTableChanged(item)" mdbInput>
                                <label class="form-check-label disabled" for="materialUncheckedDisabled2">{{item.tableName|uppercase}}</label>
                            </div>
                            </td>
                            <td>{{item.totalColumn}}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    <!-- </form> -->
    <div class="row">
      <div class="col">
        <!-- <button type="button" class="btn text-white btn-primary float-right mr-4 mt-3" 
        (click)="stapeOneValidation(updatedSelectedTables,stepper)">
          <i class="fas fa-forward pr-1"></i>
          {{"next"|uppercase}}
        </button> -->
        <button type="button" [disabled]="!isValidMappingName || !isValidStartDate || !isValidEndDate || !isSelectedSourceTable || !isSelectedCoreTable" class="btn text-white btn-primary float-right mr-4 mt-3" 
        (click)="stapeOneValidation(updatedSelectedTables,stepper)">
          <i class="fas fa-forward pr-1"></i>
          {{"next"|uppercase}}
        </button>
        <button type="button" class="btn text-white btn-primary float-right mr-4 mt-3" routerLink='/'>
          <i class="fas fa-backward pr-1"></i>
          {{"back"|uppercase}}
        </button>
      </div>
    </div> 
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>relation</ng-template>
     <div class="container-fluid">
       <div class="row">
         <div class="col-6">
           <div>{{"SOURCE TABLE RELATIONS"|uppercase}}</div>
         </div>
         <div class="col-4"></div>
         <div class="col-2 float-right">
          <mat-slide-toggle [(ngModel)]="switch" (change)="changeTargetType()">{{targetType|uppercase}}</mat-slide-toggle>
         </div>
       </div>
       <div class="row">
         <div class="col-2">
          <!-- <select class="form-control" [(ngModel)]="tableId1" (change)="changeSelectedSourceTable1()">
            <option></option>  
            <option *ngFor="let table of mappingOutput.sourceTable" [value]="table.configId">
              {{table.tablename}}
            </option>
          </select> -->

          <mat-form-field >
            <mat-label>source table 1</mat-label>
            <mat-select [(ngModel)]="tableId1" (selectionChange)="changeSelectedSourceTable1()" required>
              <mat-option *ngFor="let table of mappingOutput.sourceTable" [value]="table.configId">
                {{table.tablename}}
              </mat-option>
            </mat-select>
           </mat-form-field>
          
         </div>
         <div class="col-2">
          <!-- <select [disabled]="tableId1==0"  [(ngModel)]="columnId1"
          class="form-control">
              <option *ngFor="let column of selectedSourceTable1.columns" [value]="column.seqId">
                  {{column.tabcol|uppercase}}
              </option>
          </select> -->
          <mat-form-field >
            <mat-label>source column 1</mat-label>
            <mat-select [disabled]="tableId1==0"  [(ngModel)]="columnId1" required>
              <mat-option *ngFor="let column of selectedSourceTable1.columns" [value]="column.seqId">
                {{column.tabcol|uppercase}}
                {{column.datatype|uppercase}}
              </mat-option>
            </mat-select>
           </mat-form-field>
         </div>
         <div class="col-1" ></div>
         <div class="col-2 float-center">
          <!-- <select  class="form-control " [disabled]="tableId1==0 || columnId1==0" [(ngModel)]="selectedOperator">
              <option *ngFor="let operator of relations" [value]="operator.name">
                  {{operator.name}}
              </option>
          </select> -->
          <mat-form-field >
            <mat-label>source column 1</mat-label>
            <mat-select [disabled]="tableId1==0 || columnId1==0" [(ngModel)]="selectedOperator" required>
              <mat-option *ngFor="let operator of relations" [value]="operator.name">
                {{operator.name|uppercase}}
              </mat-option>
            </mat-select>
           </mat-form-field>
         </div>
         <div class="col-1"></div>
          <div class="col-md-3" *ngIf="switch">
            <div class="form-group input-group mt-4">
              <input type="text"  class="form-control" placeholder="value" [(ngModel)]="targetValue" required>
            </div>
         </div>
         <div class="col-2" *ngIf="!switch">
          <!-- <select class="form-control" [(ngModel)]="tableId2" (change)="changeSelectedSourceTable2()">
            <option></option> 
            <option *ngFor="let table of mappingOutput.sourceTable" [value]="table.configId">
                  {{table.tablename}}
              </option>
          </select> -->

          <mat-form-field >
            <mat-label>source table 2</mat-label>
            <mat-select [(ngModel)]="tableId2" (selectionChange)="changeSelectedSourceTable2()" required>
              <mat-option *ngFor="let table of mappingOutput.sourceTable" [value]="table.configId">
                {{table.tablename}}
              </mat-option>
            </mat-select>
           </mat-form-field>
         </div>
         <div class="col-2" *ngIf="!switch">
          <!-- <select [disabled]="tableId2==0" [(ngModel)]="columnId2"
          class="form-control">
              <option *ngFor="let column of selectedSourceTable2.columns" [value]="column.seqId">
                  {{column.tabcol|uppercase}}
              </option>
          </select> -->

          <mat-form-field >
            <mat-label>source column 1</mat-label>
            <mat-select [disabled]="tableId2==0" [(ngModel)]="columnId2" required>
              <mat-option *ngFor="let column of selectedSourceTable2.columns" [value]="column.seqId">
                {{column.tabcol|uppercase}}
                {{column.datatype|uppercase}}
              </mat-option>
            </mat-select>
           </mat-form-field>

         </div>
         </div>
      <div class="row">
        <div class="col-10"></div>
      <div class="col-2 mt-2">
        <button [disabled]="(tableId1==0?true:false || columnId1==0?true:false) || (tableId2==0?(targetValue?false:true):(columnId2==0?true:false))" type="button" class="btn text-white btn-primary float-right" 
        (click)="makeRelation(mappingOutput.relation?connector:'')">
          <i class="fas fa-plus pr-1 pl-3"></i>
          {{"add"|uppercase}}</button>
    </div>
    </div>
    
    <div class="row" *ngIf="mappingOutput.relation.length>1">
      <div class="col-9"></div>
      <div class="col-1 form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="connector" name="exampleRadios" id="exampleRadios2" value="AND" checked>
        <label class="form-check-label" for="exampleRadios2">AND</label>
      </div>
      <div class="col-1 form-check ">
        <input class="form-check-input" type="radio" [(ngModel)]="connector" name="exampleRadios" id="exampleRadios1" value="OR" >
        <label class="form-check-label" for="exampleRadios1">OR</label>
      </div>
      
    </div>
    <div class="row">
      <div class="col-10"></div>
      <div class="col-2 mt-2">
     <button [disabled]="tableId1==0 && tableId2==0 && columnId1==0 && columnId2==0" type="button" class="btn text-white btn-primary float-right" (click)="clearSelectedTableAndColumn()">
       <i class="fas fa-minus pr-1"></i>
       {{"clear"|uppercase}}</button>
 </div>
</div>
<div class="row">
  <div class="col mt-2" >
    <div class="form-group ">
      <label for="exampleFormControlTextarea1">
        <span style="font-size: 20px;">{{"Relations Preview"}}</span>
        &nbsp;<span><i class="fa fa-info-circle text-primary"></i>&nbsp;{{"Use SQL syntax based codes below"}}</span>
      </label>
      <div class="col textArea shadow">
      <textarea class="form-control  mt-2 mb-2" id="exampleFormControlTextarea1" rows="7" [(ngModel)]="mappingOutput.relation"></textarea>
      </div>
    </div>
</div>
</div>
     </div>
     <div class="row">
      <div class="col">
        <button [disabled]="mappingOutput.relation.length==0" type="button" class="btn text-white btn-primary float-right mr-4 mt-3" 
        (click)="mappingRelationConfirmation(relationConformation,stepper)">
          <i class="fas fa-forward pr-1"></i>
          {{"next"|uppercase}}
        </button>
        <!-- <button type="button" [disabled]="!isValidMappingName || !isValidStartDate || !isValidEndDate || !isSelectedSourceTable || !isSelectedCoreTable" class="btn text-white btn-primary float-right mr-4 mt-3" 
        (click)="stapeOneValidation()" matStepperNext>
          <i class="fas fa-forward pr-1"></i>
          {{"next"|uppercase}}
        </button> -->
        <button type="button" class="btn text-white btn-primary float-right mr-4 mt-3" matStepperPrevious>
          <i class="fas fa-backward pr-1"></i>
          {{"previous"|uppercase}}
        </button>
      </div>
    </div> 
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>mapping</ng-template>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
            <div class="row mappingBgAndText text-white pt-2 pl-5"><i class="fa fa-table pr-1"></i>{{"destination table"|uppercase}}</div>
            <div class="row">
            <div class="col destTable">
              <table>
                  <thead>
                      <tr>
                          <th>{{mappingOutput.coreTable.tableName|uppercase}}</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let col of mappingOutput.coreTable.rrrCoreTableColDtls">
                        <td style="font-size: 12px;" 
                        (dragover)="allowDrop($event)"
                        (dragstart)="dragStart($event)"
                        (dragend)="endCoreTableDrag(mappingOutput.coreTable.tableName,col)"
                        draggable="true" >
                           <span>{{col.columnName|uppercase}}</span><span class="float-right">{{col.dataType == 'VARCHAR2'? 'V' : (col.dataType == 'NUMBER'? 'N' :(col.dataType == 'VARCHAR'? 'V':(col.dataType == 'INT'? 'I':(col.dataType == 'DECIMAL'? 'DE':'D'))))}}<i class=" fas fa-expand-arrows-alt pl-1"></i></span>
                        </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          </div>
          </div>
        <div class="col-6">
          <div class="row mappingBgAndText text-white">
            <div class="col-7 pt-2">
              <i class="fas fa-signature pr-1"></i>{{"mapping name : "+mappingOutput.mappingName |uppercase}}
            </div>
            <div class="col-5 pt-2 justify-content-right">
              <mat-slide-toggle [(ngModel)]="isDragMode" (change)="changeModeType()">{{modeType|uppercase}}</mat-slide-toggle>
            </div>
            </div>
          

            <div class="row destColumnSelect">
              <!-- <div class="col-5">
                <span class="text-muted" style="font-size: 20px;">{{"Destination Column"}}</span>
              </div> -->
              <span class="text-muted pr-1 pl-2 mt-4" style="font-size: 20px;">{{"Destination Column"}}</span>
              <div class="col-7">
                <div class="form-group input-group">
                    <!-- <select class="form-control" [(ngModel)]="mappingCoreCol">
                        <option *ngFor="let d of mappingOutput.coreTable.rrrCoreTableColDtls" [value]="d.columnName">
                          {{d.columnName}}
                        </option>
                    </select> -->

                    <mat-form-field >
                      <mat-label>select destination column</mat-label>
                      <mat-select [(ngModel)]="mappingCoreCol" required>
                        <mat-option *ngFor="let d of mappingOutput.coreTable.rrrCoreTableColDtls" [value]="d.columnName">
                          {{d.columnName}}
                        </mat-option>
                      </mat-select>
                     </mat-form-field>

                </div>
              </div>

              <!-- <span class="text-muted pr-2">{{"Destination Column"}}</span>
                <select class="form-control" [(ngModel)]="mappingCoreCol">
                    <option *ngFor="let d of mappingOutput.coreTable.rrrCoreTableColDtls" [value]="d.columnName">
                      {{d.columnName}}
                    </option>
                </select> -->
            </div>
            <!-- buttons defining -->
            <div class="row">
              <div class="col-6">
                  <button [disabled]="!isMappedColumn"  type="button" class="btn btn-primary" (click)="ViewCreatedMapping(viewMappingContent)">
                    <i class="fas fa-eye pr-1"></i>
                    <span class="mappingFontSize">{{"view created mappings"|uppercase}}</span>
                  </button>
              </div>
              <div class="col-3">
                  <button [disabled]="!mappingCoreCol || !mappingSourceCol" type="button" class="btn btn-primary" (click)="previewMapping(previewMappingContent)">
                    <i class="fas fa-eye pr-1"></i>
                    <span class="mappingFontSize">{{"preview"|uppercase}}</span>
                  </button>
              </div>
              <div class="col-3">
                  <button [disabled]="!mappingCoreCol || !mappingSourceCol" type="button" class="btn btn-primary" (click)="addMapping()">
                    <i class="fas fa-plus-circle pr-1"></i>
                    <span class="mappingFontSize">{{"add"|uppercase}}</span>
                  </button>
              </div>
              </div>
              <div class="row mt-2">
              <div class="col-6">
                  <button [disabled]="!mappingCoreCol && !mappingSourceCol" type="button" class="btn btn-primary" (click)="clearMapping()">
                    <i class="fas fa-trash-alt pr-1"></i>
                    <span class="mappingFontSize">{{"clear"|uppercase}}</span>
                  </button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary" [matMenuTriggerFor]="operatorsMenu">
                  <span class="mappingFontSize">{{"operators"|uppercase}}</span>
                </button>
                <mat-menu #operatorsMenu="matMenu">
                  <button mat-menu-item (click)="operators('+')">{{"+"}}</button>
                  <button mat-menu-item (click)="operators('-')">{{"-"}}</button>
                  <button mat-menu-item (click)="operators('*')">{{"*"}}</button>
                  <button mat-menu-item (click)="operators('/')">{{"/"}}</button>
                  <button mat-menu-item (click)="operators('>')">{{">"}}</button>
                  <button mat-menu-item (click)="operators('<')">{{"<"}}</button>
                  <button mat-menu-item (click)="operators('=')">{{"="}}</button>
                  <button mat-menu-item (click)="operators('>=')">{{">="}}</button>
                  <button mat-menu-item (click)="operators('<=')">{{"<="}}</button>
                  <button mat-menu-item (click)="operators('!=')">{{"!="}}</button>
                  <button mat-menu-item (click)="operators('AND')">{{"AND"}}</button>
                  <button mat-menu-item (click)="operators('OR')">{{"OR"}}</button>
                </mat-menu>
              </div>
              <div class="col-3">
                <button  type="button" class="btn btn-primary" [matMenuTriggerFor]="expressionMenu">
                  <span class="mappingFontSize">{{"expressions"|uppercase}}</span>
                </button>
                <mat-menu #expressionMenu="matMenu">
                  <button mat-menu-item (click)="expression('case')">{{"case"|uppercase}}</button>
                  <button mat-menu-item (click)="expression('braces')">{{"brace"|uppercase}}</button>
                  <button mat-menu-item (click)="expression('concat')">{{"concat"|uppercase}}</button>
                  <button mat-menu-item (click)="expression('substring')">{{"substring"|uppercase}}</button>
                  <button mat-menu-item (click)="expression('date')">{{"date"|uppercase}}</button>
                  <button mat-menu-item (click)="expression('replace')">{{"replace"|uppercase}}</button>
                </mat-menu>
              </div>
            </div>
            <div class="bottomBorder">
            <div class="row">
              <!-- <div class="col">
                <h3 class="text-muted">{{mappingSourceCol}}</h3>
              </div> -->
              <div class="col">
                <textarea class="form-control inboxHight" id="exampleFormControlTextarea2" [(ngModel)]="mappingSourceCol"></textarea>
              </div>
              </div>
              <div class="row ">
              <div class="col">
                <div id="dropData" *ngIf="isEnableDragBox" class="example-box" 
                  (dragover)="allowDrop($event)">
                </div>
              </div>
            </div>
            </div>
        </div>
        <div class="col-3">
          <div class="row mappingBgAndText text-white pt-2 pl-5"><i class="fa fa-table pr-1"></i>{{"source table"|uppercase}}</div>
         
          <mat-accordion>
          <div class="row" *ngFor=" let source of mappingOutput.sourceTable">
             
            <mat-expansion-panel>
              <mat-expansion-panel-header class="bg-info text-white">
                <mat-panel-title>{{source.tablename|uppercase}}</mat-panel-title>
              </mat-expansion-panel-header>
              <div class="sourceTable">
                  <table>
                      <tbody>
                          <tr *ngFor="let col of source.columns">
                            <td style="font-size: 12px;" 
                            (dragover)="allowDrop($event)"
                            (dragstart)="dragStart($event)"
                            (dragend)="endSourceTableDrag(source.tablename,col)"
                            draggable="true" >
                                <span>{{col.tabcol|uppercase}}</span>
                                <span class="float-right pl-1">{{col.datatype == 'VARCHAR2'? 'V' : (col.datatype == 'NUMBER'? 'N' :(col.datatype == 'VARCHAR'? 'V':(col.datatype == 'INT'? 'I':(col.datatype == 'DECIMAL'? 'DE':'D'))))}}<i class=" fas fa-expand-arrows-alt pl-1"></i></span></td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                </mat-expansion-panel>
        </div>
      </mat-accordion>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button [disabled]="!isMappedColumn" type="button" class="btn text-white btn-primary float-right mr-4 mt-3" 
        matStepperNext>
          <i class="fas fa-forward pr-1"></i>
          {{"next"|uppercase}}
        </button>
        <button type="button" class="btn text-white btn-primary float-right mr-4 mt-3" matStepperPrevious>
          <i class="fas fa-backward pr-1"></i>
          {{"previous"|uppercase}}</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>preview mapping</ng-template>
    <div class="viewMappingTable">
      <table>
        <thead class="headerColor">
          <tr>
            <td>{{"COLUMN NAME"}}</td>
            <td>{{"MAPPING RULE"}}</td>
            <td>{{"edit"|uppercase}}</td>
          </tr>          
        </thead>
        <tbody>
          <tr *ngFor="let col of columnMappingDtlsList">
            <td>{{col.destColumn}}</td>
            <td>{{col.mappRule}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="editPreviewSourceColumn(col)"><i class="fas fa-edit pr-1"></i>{{"edit"|uppercase}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col">
        <button [disabled]="!isMappedColumn" type="button" class="btn text-white btn-primary float-right mr-4 mt-3" 
        (click)="submitMappingData(mappingConformation)">
          <i class="fas fa-forward pr-1"></i>
          {{"submit"|uppercase}}
        </button>
        <button type="button" class="btn text-white btn-primary float-right mr-4 mt-3" matStepperPrevious>
          <i class="fas fa-backward pr-1"></i>
          {{"previous"|uppercase}}
        </button>
      </div>
    </div>

  </mat-step>
</mat-horizontal-stepper>
</div>
</div>
</div>





<!-- relation conformation popup -->
<ng-template #relationConformation let-modal >
  <div>
  <div class="modal-header">
      <h4 class="modal-title text-primary" id="modal-basic-title">{{"Preview source relations"|uppercase}}</h4>       
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="far fa-times-circle"></i>
      </button>
  </div>
  <div class="modal-body">
      <h4 class="modal-title text-dark" id="modal-basic-title">{{mappingOutput.relation|uppercase}}</h4>
      <button type="button" (click)="userConformed('yes')" class="btn-lg text-white btn-success mt-2">
          <i class="fas fa-check-circle" ></i>
          {{"yes"|uppercase}}
      </button>
      <button type="button" (click)="userConformed('no')" class="btn-lg text-white btn-success mt-2 ml-4">
          <i class="fas fa-times"></i>
          {{"no"|uppercase}}
      </button>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary mr-3" (click)="modal.close('Save click')">cancel</button>
  </div>
</div>
</ng-template>




<!-- preview mapping popup -->
<ng-template #previewMappingContent let-modal >
  <div>
  <div class="modal-header">
      <h4 class="modal-title text-primary" id="modal-basic-title">{{"Preview Mapping"|uppercase}}</h4>       
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="far fa-times-circle"></i>
      </button>
  </div>
  <div class="modal-body">
      <h1 class="modal-title text-dark" id="modal-basic-title">
        {{mappingOutput.coreTable.tableName+" : "+mappingCoreCol|uppercase}}</h1>
        <h4 class="modal-title text-dark pl-3 pr-2" id="modal-basic-title">
          {{mappingSourceCol|uppercase}}</h4>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary mr-3" (click)="modal.close('Save click')">cancel</button>
  </div>
</div>
</ng-template>



<!-- preview mapping popup -->
<ng-template #viewMappingContent let-modal >
  <div>
  <div class="modal-header">
      <h4 class="modal-title text-primary" id="modal-basic-title">{{"View Mapping Relations"|uppercase}}</h4>       
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="far fa-times-circle"></i>
      </button>
  </div>
  <div class="modal-body">
    <div class="viewMappingTable">
      <table>
        <thead class="headerColor">
          <tr>
            <td>{{"COLUMN NAME"}}</td>
            <td>{{"MAPPING RULE"}}</td>
            <td>{{"edit"|uppercase}}</td>
            <td>{{"delete"|uppercase}}</td>
          </tr>          
        </thead>
        <tbody>
          <tr *ngFor="let column of columnMappingDtlsList">
            <td>{{column.destColumn}}</td>
            <td>{{column.mappRule}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="[editSourceColumn(column),modal.close('Save click')]"><i class="fas fa-edit pr-1"></i>{{"edit"|uppercase}}</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" (click)="[deleteMapping(column),modal.close('Save click')]"><i class="fas fa-trash-alt pr-1"></i>{{"delete"|uppercase}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary mr-3" (click)="modal.close('Save click')">cancel</button>
  </div>
</div>
</ng-template>




<!-- stap one validation popup -->
<ng-template #updatedSelectedTables let-modal >
  <div>
  <div class="modal-header">
      <h2 class="modal-title text-primary" id="modal-basic-title">{{"updated selected tables"|uppercase}}</h2>       
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="far fa-times-circle"></i>
      </button>
  </div>
  <div class="modal-body">
    <h3>{{"You have updated configured tables, Are you sure to proceed?"|uppercase}}</h3>
    <h4 class="pt-2">{{"Note: All mapped data and relations will be lost"}}</h4>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary mr-3" (click)="modal.close('Save click')">cancel</button>
      <button type="button" class="btn btn-primary mr-3" (click)="proceed()">proceed</button>
  </div>
</div>
</ng-template>





<!-- mapping conformation popup -->
<ng-template #mappingConformation let-modal >
  <div>
  <div class="modal-header">
      <h4 class="modal-title text-primary" id="modal-basic-title">{{"Are you sure you want to create"|uppercase}}</h4>       
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="far fa-times-circle"></i>
      </button>
  </div>
  <div class="modal-body">
      <button type="button" (click)="createMappingConformation('yes')" class="btn-lg text-white btn-primary mt-2">
          <i class="fas fa-check-circle" ></i>
          {{"create"|uppercase}}
      </button>
      <button type="button" (click)="createMappingConformation('no')" class="btn-lg text-white btn-success mt-2 ml-4">
          <i class="fas fa-times"></i>
          {{"cancel"|uppercase}}
      </button>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary mr-3" (click)="modal.close('Save click')">cancel</button>
  </div>
</div>
</ng-template>