<div class="container">
    <div class="row">
        <div class="col-md-4 mt-2">
            <div class="card tileclass text-primary shadow-lg" style="width: 10rem; height:10rem" routerLink='/sales/createreporting' >
                <i class="pt-5 fa fa-plus-square  fa-lg fontIcons"></i>
                <h6 class="pt-5 textalliend card-title">create reporting</h6>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card tileclass text-primary shadow-lg" style="width: 10rem; height:10rem" routerLink='/sales/viewreporting' >
                <i class="pt-5 fa fa-list fa-lg fontIcons"></i>
                <h6 class="pt-5 textalliend card-title">View reporting list</h6>
            </div>
        </div>
    </div>
</div>