<div class="container">
    <div class="row">
        <div class="col-md-4 mt-2">
            <div class="card tileclass text-primary shadow-lg" style="width: 10rem; height:10rem" routerLink='/userCompanyRegistration/userRegistration' >
                <i class="pt-5 fas fa-user-check fa-lg fontIcons"></i>
                <h6 class="pt-5 textalliend card-title">Register User</h6>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card tileclass text-primary shadow-lg" style="width: 10rem; height:10rem" routerLink='/userCompanyRegistration/companyRegistration' >
                <i class="pt-5 fas fa-building fa-lg fontIcons"></i>
                <h6 class="pt-5 textalliend card-title">Register company</h6>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card tileclass text-primary shadow-lg" style="width: 10rem; height:10rem" routerLink='/userCompanyRegistration/userRole' >
                <i class="pt-5 fas fa-user-tag fa-lg fontIcons"></i>
                <h6 class="pt-5 textalliend card-title">Create User Role</h6>
            </div>
        </div>
    </div>
</div>