<div class="container-fluid">
    <div class="row">
        <div class="col table-responsive">
            <table class="table  table-hover table-bordered table">
                <thead>
                    <tr>
                        <th>{{"Format Details"|uppercase}}</th>
                        <th>{{"format Name"|uppercase}}</th>
                        <th>{{"table Name"|uppercase}}</th>
                        <th>{{"decription"|uppercase}}</th>
                        <th>{{"no. of column"|uppercase}}</th>
                        <th>{{"date of creation"|uppercase}}</th>
                        <th>{{"created by"|uppercase}}</th>
                        <th>{{"file upload"|uppercase}}</th>
                    </tr>
                </thead>
                <thead>
                    <tr *ngFor="let d of configData">
                       <td>
                            <div >
                                <button type="button" class="btn btn-success" (click)="[formatDtls(d),openFormatView(viewFormatList)]"><i class="fas fa-eye text-warning"></i>
                                    {{"view details "|uppercase}}</button>
                            </div>
                        </td>
                        <td>{{d.formatname|uppercase}}</td>
                        <td>{{d.tablename|uppercase}}</td>
                        <td>{{d.desc|uppercase}}</td>
                        <td>{{d.colCount}}</td>
                        <td>{{d.rrrCommonDtls.dateIns}}</td>
                        <td>{{d.rrrCommonDtls.userIns|uppercase}}</td>
                        <td>
                            <div >
                                <button type="button" class="btn btn-primary" (click)="[selectedFormatUpload(d),openFormatUpload(fileUpload)]"><i class="fas fa-file-upload"></i>
                                    {{"upload "|uppercase}}</button>
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<ng-template #viewFormatList let-modal >
    <div>
    <div class="modal-header">
        <h4 class="modal-title text-primary" id="modal-basic-title">{{"Format name:"|uppercase}}</h4>
        <h4 class="modal-title pl-2 text-success" id="modal-basic-title">{{selectedFormat.formatname|uppercase}}</h4>
       
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <i class="far fa-times-circle"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
        <table class="table  table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th >{{"file column"|uppercase}}</th>
                    <th >{{"databse column"|uppercase}}</th>
                    <th >{{"data type "|uppercase}}</th>
                    <th>{{"length"|uppercase}}</th>
                    <th>{{"nullable"|uppercase}}</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="let data of formatMappingData">
                   <td>{{data.col|uppercase}}</td>
                   <td>{{data.tabcol|uppercase}}</td>
                   <td>{{data.datatype|uppercase}}</td>
                   <td>{{data.datasize}}</td>
                   <td>{{data.defaultvalue|uppercase}}</td>
               </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary mr-3" (click)="modal.close('Save click')">cancel</button>
        <button type="button" class="btn btn-primary" (click)="download()">download</button>
    </div>
</div>
</ng-template>

<ng-template #fileUploadConformation let-modal >
    <div>
    <div class="modal-header">
        <h4 class="modal-title text-primary" id="modal-basic-title">{{"confirmation box"|uppercase}}</h4>       
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <i class="far fa-times-circle"></i>
        </button>
    </div>
    <div class="modal-body">
        <h5 class="modal-title text-dark" id="modal-basic-title">{{"This file "+file.name+" already uploaded"|uppercase}}</h5>         
        <h5 class="modal-title text-dark" id="modal-basic-title">{{"do you want to upload this file again"|uppercase}}</h5>
        <button type="button" (click)="userConformed('yes')" class="btn-lg text-white btn-success mt-2" >
            <i class="fas fa-check-circle"></i>
            {{"yes"|uppercase}}
        </button>
        <button type="button" (click)="userConformed('no')" class="btn-lg text-white btn-success mt-2 ml-4">
            <i class="fas fa-times"></i>
            {{"no"|uppercase}}
        </button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary mr-3" (click)="modal.close('Save click')">cancel</button>
    </div>
</div>
</ng-template>

<ng-template #fileUpload let-modal >
    <div>
    <div class="modal-header">
        <h4 class="modal-title text-primary" id="modal-basic-title">{{"Format name:"|uppercase}}</h4>
        <h4 class="modal-title pl-2 text-success" id="modal-basic-title">{{selectedFormat.formatname|uppercase}}</h4>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <i class="far fa-times-circle"></i>
        </button>
    </div>
    <div class="modal-body">
            <div class="container">
                <div class="row">
                        <section class="section-preview">
                            <div class="col">
                                <div class="custom-file">
                                    <input type="file" [accept]="fileType" (change)="onFileSelect($event,'browse','')" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">{{slectedFile}}</label>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <button type="button" (click)="onFileSelect($event,'upload',fileUploadConformation)" class="btn-lg text-white btn-success" [disabled]="!isFileBrowsed">
                                    <i class="fas fa-file-upload"></i>
                                    {{"upload"|uppercase}}
                                </button>
                                <span *ngIf="uploadedFileSize>0" class="pl-5 text-primary">{{"file size:- "+uploadedFileSize+" mb"|uppercase}}</span>
                            </div>

                        </section>
                        
                    </div>
                </div>
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">cancel</button>
    </div>
</div>
</ng-template>
