<div class="container-fluid">

<div class="row backgroundcolor ">
  <div class="col">
  <div class="row">
    <div class="col">
      <h3 class="text-white textSizeHeader">{{"integration hub"|uppercase}}</h3>
  </div>
  </div>
  <div class="row">
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/file-format' >
        <i class="pt-5 fa fa-table fa-lg fontIcons"></i>
            <h6 class="pt-4 textalliend card-title textSizeBody">Source Table Configuration</h6>
      </div>
  </div>
  <div class="col-md-2">
    <div class="card  tileclass text-white" style="width: 8rem; height:8rem" routerLink='/mapping-config/create' >
      <i class="pt-5 fa fa-plus-square  fa-lg fontIcons"></i>
          <h6 class="pt-4 textalliend card-title textSizeBody">Mapping Rule Configuration</h6>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5 fa fa-list fa-lg fontIcons"></i>
        <h6 class="textalliend pt-4 card-title textSizeBody">Display Mapping Rule</h6>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/file-admin' >
      <i class="pt-5 fa fa-list-alt fa-lg fontIcons"></i>
        <h6 class="textalliend pt-4 card-title textSizeBody">File Admin</h6>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/formatList-fileUpload' >
      <i class="pt-5 fa fa-list-ul fa-lg fontIcons"></i>
        <h6 class="textalliend pt-4 card-title textSizeBody">Format List & File Upload</h6>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" (click)="mappingProcess(viewMappingName)" >
      <i class="pt-5 fas fa-exchange-alt fa-lg fontIcons"></i>
        <h6 class="textalliend pt-4 card-title textSizeBody">Data Process</h6>
    </div>
  </div>
  
  <div class="col-md-2 pt-2 pb-2">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5 fas fa-file-upload fa-lg fontIcons pr-3"></i>
     <h6 class=" textalliend pt-4 card-title textSizeBody">File Upload Auto</h6>
    </div>
  </div>

  </div>
  </div>
</div>



<div class="row backgroundcolor mt-3">
  <div class="col">
  <div class="row">
    <div class="col">
      <h3 class="text-white textSizeHeader">{{"Master Data"|uppercase}}</h3>
  </div>
  </div>
  <div class="row">
      <div class="col-md-2">
        <div class="card  tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
          <i class="pt-5 fab fa-product-hunt fa-lg fontIcons"></i>
            <h6 class=" textalliend pt-4 card-title textSizeBody">Product Master</h6>
        </div>
    </div>
    <div class="col-md-2">
      <div class="card  tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fa fa-sitemap fa-lg fontIcons"></i>
          <h6 class="pt-4 textalliend card-title textSizeBody">Organizational Units</h6>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-chart-bar fa-lg fontIcons pr-3"></i>
          <h6 class="pt-4 textalliend card-title textSizeBody">Reporting Segments</h6>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-hourglass-half fa-lg fontIcons"></i>
          <h6 class="pt-4 textalliend card-title textSizeBody">GL</h6>
      </div>
    </div>
    
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-handshake fa-lg fontIcons"></i>
          <h6 class="pt-4 textalliend card-title textSizeBody">Partners</h6>
      </div>
    </div>
    
    <div class="col-md-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fa fa-users fa-lg fontIcons"></i>
       <h6 class=" pt-4 textalliend card-title textSizeBody">Employee</h6>
      </div>
    </div>
  
    <div class="col-md-2 pt-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fa fa-file-alt fa-lg fontIcons"></i>
       <h6 class=" pt-4 textalliend card-title textSizeBody">Templates</h6>
      </div>
    </div>
  
  </div>
  </div>
</div>
  



<div class="row backgroundcolor mt-3">
  <div class="col">
  <div class="row">
    <div class="col">
      <h3 class="text-white textSizeHeader">{{"Operations"|uppercase}}</h3>
  </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
          <i class="pt-5 fa fa-cart-plus fa-lg fontIcons"></i>
          <h6 class=" pt-4 textalliend card-title textSizeBody">Sales Orders</h6>
      </div>
  </div>
  <div class="col-md-2 ">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5 fas fa-check-square fa-lg fontIcons"></i>
        <h6 class=" pt-4 textalliend card-title textSizeBody">Fulfillment</h6>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5 fas fa-file-invoice-dollar fa-lg fontIcons pr-4"></i>
        <h6 class="pt-4 textalliend card-title textSizeBody">Billing</h6>
    </div>
  </div>
  
  <div class="col-md-2">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5 fas fa-rupee-sign fa-lg fontIcons"></i>
        <h6 class="pt-4 textalliend card-title textSizeBody">Procurement</h6>
    </div>
  </div>
  
  <div class="col-md-2 pt-0">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5 fas fa-briefcase fa-lg fontIcons"></i>
     <h6 class=" pt-4 textalliend card-title textSizeBody">Work Orders</h6>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5 fas fa-dolly-flatbed fa-lg fontIcons pr-3"></i>
     <h6 class=" pt-4 textalliend card-title textSizeBody">Inventory Processing</h6>
    </div>
  </div>
  <div class="col-md-2 pt-2 pb-2">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5 fas fa-calendar-day fa-lg fontIcons"></i>
     <h6 class=" pt-4 textalliend card-title textSizeBody">Timesheet</h6>
    </div>
  </div>
  
  <div class="col-md-2 pt-2 pb-2">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5  far fa-smile fa-lg fontIcons"></i>
     <h6 class="pt-4 textalliend card-title textSizeBody">Approvals</h6>
    </div>
  </div>
  </div>
  </div>
</div>







<div class="row backgroundcolor mt-3">
  <div class="col">
  <div class="row">
    <div class="col">
      <h3 class="text-white textSizeHeader">{{"rrr"|uppercase}}</h3>
  </div>
  </div>
  <div class="row">
    <div class="col-md-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
          <i class="pt-5 fas fa-dollar-sign fa-lg fontIcons"></i>
          <h6 class=" pt-4 textalliend card-title textSizeBody">Cost Posting</h6>
      </div>
    </div>
    <div class="col-md-2 pb-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-money-check-alt fa-lg fontIcons"></i>
          <h6 class="pt-2 textalliend card-title textSizeBody">Revenue Recognition Calculation</h6>
      </div>
    </div>
    <div class="col-md-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-file-invoice-dollar fa-lg fontIcons"></i>
          <h6 class=" pt-4 textalliend  card-title textSizeBody">Rev Rec Posting</h6>
      </div>
    </div>
    <div class="col-md-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-rupee-sign fa-lg fontIcons"></i>
          <h6 class="pt-4 textalliend card-title textSizeBody">Royalty Calculation</h6>
      </div>
    </div>
    
    <div class="col-md-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fab fa-cc-mastercard fa-lg fontIcons"></i>
       <h6 class=" textalliend pt-4 card-title textSizeBody">Royalty Payments</h6>
      </div>
    </div>    

  </div>
  </div>
</div>



<div class="row backgroundcolor mt-3">
  <div class="col">
  <div class="row">
    <div class="col">
      <h3 class="text-white textSizeHeader">{{"reporting"|uppercase}}</h3>
  </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/sales' >
          <i class="pt-5 fas fa-clipboard-list fa-lg fontIcons"></i>
          <h6 class="pt-4 textalliend card-title textSizeBody">Sales Reporting</h6>
      </div>
  </div>
  <div class="col-md-2 ">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5 fas fa-hourglass-half fa-lg fontIcons"></i>
      <h6 class=" pt-4 textalliend card-title textSizeBody">Fulfillment Status</h6>
    </div>
  </div>
  <div class="col-md-2 ">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5 fas fa-file-invoice-dollar fa-lg fontIcons"></i>
        <h6 class=" textalliend pt-4 card-title textSizeBody">Profitability Analysis</h6>
    </div>
  </div>
  
  <div class="col-md-2 pb-3">
    <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
      <i class="pt-5 fas fa-rupee-sign fa-lg fontIcons"></i>
        <h6 class=" pt-4 textalliend card-title textSizeBody">Inventory Analysis</h6>
    </div>
  </div>
  </div>
  </div>
</div>



<ng-template #viewMappingName let-modal >
  <div class="modal-header">
      <h4 class="modal-title text-primary" id="modal-basic-title">{{"mapping names"|uppercase}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="far fa-times-circle"></i>
      </button>
  </div>
  <div class="modal-body">
    <form> 
    <div class="container coreTable shadow">
      <div class="row">
        <div class="col">
              <div class="selectBox">
                  <div class="form-check" *ngFor="let item of mappingList">
                    <input class="form-check-input" type="checkbox" [value]='item.mappingId' (change)="changedSelectedMapping($event)">
                    <label class="form-check-label pt-2" for="flexCheckDefault">{{item.mappingName}}
                    </label>
                  </div>
              </div> 
        </div>
    </div>
  </div>
</form>
</div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">cancel</button>
      
      <button type="button" (click)="submit()" class="btn btn-primary">
          {{"submit"|uppercase}}
      </button>
  </div>
</ng-template>