.fontIcons{
    text-align: center;
    color: white;
}
.textalliend{
    text-align: center;
}
.backgroundcolor{
    background: linear-gradient(0, #360033, #0b8793);
}
.tileclass{
    background:linear-gradient(225deg, #61c981,#2871b4 ) !important;
}
.textSizeHeader{
    font-size: medium;
}
.textSizeBody{
    font-size: small;
}


.coreTable{
    width: 400px;
    height: 350px;
    overflow-y: auto;
    padding-left: 20px;
}
.form-check-input{
    width: 20px;
    height: 20px;
}
.form-check-label{
    padding-left: 7px;
}
.selectBox{
    padding-top: 5px;
    padding-left: 10px;
}