<div class="pl-3 pr-3 row ml-1 backgroundcolor"><h3 class="text-white">{{"integration hub"|uppercase}}</h3>
<div class="row ">
    <div class="col-md-2 ">
        <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/file-format' >
          <i class="pt-5 fa fa-table fa-lg fontIcons"></i>
              <h6 class="pt-4 textalliend card-title">Source Table Configuration</h6>
        </div>
    </div>
    <div class="col-md-2">
      <div class="card  tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fa fa-plus-square  fa-lg fontIcons"></i>
            <h6 class="pt-4 textalliend card-title">Mapping Rule Configuration</h6>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fa fa-list fa-lg fontIcons"></i>
          <h6 class="textalliend pt-4 card-title">Display Mapping Rule</h6>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/file-admin' >
        <i class="pt-5 fa fa-list-alt fa-lg fontIcons"></i>
          <h6 class="textalliend pt-4 card-title">File Admin</h6>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/formatList-fileUpload' >
        <i class="pt-5 fa fa-list-ul fa-lg fontIcons"></i>
          <h6 class="textalliend pt-4 card-title">Format List & File Upload</h6>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-exchange-alt fa-lg fontIcons"></i>
          <h6 class="textalliend pt-4 card-title">Data Process</h6>
      </div>
    </div>
    
    <div class="col-md-2 pt-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-file-upload fa-lg fontIcons pr-3"></i>
       <h6 class=" textalliend pt-4 card-title">File Upload Auto</h6>
      </div>
    </div>
</div>
</div>
    
<div class="pl-3 pr-3 row mt-3 ml-1 backgroundcolor"><h3 class="text-white">{{"master data"|uppercase}}</h3>
<div class="row">
    <div class="col-md-2">
        <div class="card  tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
            <i class="pt-5 fab fa-product-hunt fa-lg fontIcons"></i>
            <h6 class=" textalliend pt-4 card-title">Product Master</h6>
        </div>
    </div>
    <div class="col-md-2">
      <div class="card  tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fa fa-sitemap fa-lg fontIcons"></i>
            <h6 class="pt-4 textalliend card-title">Organizational Units</h6>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-chart-bar fa-lg fontIcons pr-3"></i>
          <h6 class="pt-4 textalliend card-title">Reporting Segments</h6>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-hourglass-half fa-lg fontIcons"></i>
          <h6 class="pt-4 textalliend card-title">GL</h6>
      </div>
    </div>
    
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-handshake fa-lg fontIcons"></i>
          <h6 class="pt-4 textalliend card-title">Partners</h6>
      </div>
    </div>
    
    <div class="col-md-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fa fa-users fa-lg fontIcons"></i>
       <h6 class=" pt-4 textalliend card-title">Employee</h6>
      </div>
    </div>

    <div class="col-md-2 pt-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fa fa-file-alt fa-lg fontIcons"></i>
       <h6 class=" pt-4 textalliend card-title">Templates</h6>
      </div>
    </div>
</div>
</div>
<div class="pl-3 pr-3 row mt-3 ml-1 backgroundcolor"><h3 class="text-white">{{"Operations"|uppercase}}</h3>
<div class="row">
    <div class="col-md-2">
        <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
            <i class="pt-5 fa fa-cart-plus fa-lg fontIcons"></i>
            <h6 class=" pt-4 textalliend card-title">Sales Orders</h6>
        </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-check-square fa-lg fontIcons"></i>
          <h6 class=" pt-4 textalliend card-title">Fulfillment</h6>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-file-invoice-dollar fa-lg fontIcons pr-4"></i>
          <h6 class="pt-4 textalliend card-title">Billing</h6>
      </div>
    </div>
    
    <div class="col-md-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-rupee-sign fa-lg fontIcons"></i>
          <h6 class="pt-4 textalliend card-title">Procurement</h6>
      </div>
    </div>
    
    <div class="col-md-2 pt-0">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-briefcase fa-lg fontIcons"></i>
       <h6 class=" pt-4 textalliend card-title">Work Orders</h6>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-dolly-flatbed fa-lg fontIcons pr-3"></i>
       <h6 class=" pt-4 textalliend card-title">Inventory Processing</h6>
      </div>
    </div>
    <div class="col-md-2 pt-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-calendar-day fa-lg fontIcons"></i>
       <h6 class=" pt-4 textalliend card-title">Timesheet</h6>
      </div>
    </div>
    
    <div class="col-md-2 pt-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5  far fa-smile fa-lg fontIcons"></i>
       <h6 class="pt-4 textalliend card-title">Approvals</h6>
      </div>
    </div>
</div>
</div>

<div class="pl-3 pr-3 mt-3 ml-1 backgroundcolor"><h3 class="text-white">{{"rrr"|uppercase}}</h3>
  <div class="row">
    <div class="col-md-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
          <i class="pt-5 fas fa-dollar-sign fa-lg fontIcons"></i>
          <h6 class=" pt-4 textalliend card-title">Cost Posting</h6>
      </div>
    </div>
    <div class="col-md-2 pb-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-money-check-alt fa-lg fontIcons"></i>
          <h6 class="pt-2 textalliend card-title">Revenue Recognition Calculation</h6>
      </div>
    </div>
    <div class="col-md-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-file-invoice-dollar fa-lg fontIcons"></i>
          <h6 class=" pt-4 textalliend  card-title">Rev Rec Posting</h6>
      </div>
    </div>
    <div class="col-md-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-rupee-sign fa-lg fontIcons"></i>
          <h6 class="pt-4 textalliend card-title">Royalty Calculation</h6>
      </div>
    </div>
    
    <div class="col-md-2 pb-2">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fab fa-cc-mastercard fa-lg fontIcons"></i>
       <h6 class=" textalliend pt-4 card-title">Royalty Payments</h6>
      </div>
    </div>    

  </div>
  </div>
<div class="pl-3 pr-3 mt-3 ml-1 backgroundcolor"><h3 class="text-white">{{"reporting"|uppercase}}</h3>
<div class="row">
    <div class="col-md-2">
        <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
            <i class="pt-5 fas fa-clipboard-list fa-lg fontIcons"></i>
            <h6 class="pt-4 textalliend card-title">Sales Reporting</h6>
        </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-hourglass-half fa-lg fontIcons"></i>
        <h6 class=" pt-4 textalliend card-title">Fulfillment Status</h6>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-file-invoice-dollar fa-lg fontIcons"></i>
          <h6 class=" textalliend pt-4 card-title">Profitability Analysis</h6>
      </div>
    </div>
    
    <div class="col-md-2 pb-3">
      <div class="card tileclass text-white" style="width: 8rem; height:8rem" routerLink='/user' >
        <i class="pt-5 fas fa-rupee-sign fa-lg fontIcons"></i>
          <h6 class=" pt-4 textalliend card-title">Inventory Analysis</h6>
      </div>
    </div>    
</div>
</div>