<div class="container-fluid">
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-hover table-bordered table">
                <thead class="bg-primary">
                    <tr>
                        <th>{{"View details"|uppercase}}</th>
                        <th>{{"FileName"|uppercase}}</th>
                        <th>{{"upload Date"|uppercase}}</th>
                        <th>{{"status"|uppercase}}</th>
                        <th>{{"donot process"|uppercase}}</th>
                        <th>{{"file size"|uppercase}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of uploadedFileList">
                        <td>
                            <button type="button" (click)="openViewDetails(viewUploadedFile,data)" class="btn text-white btn-success">
                                <i class="fas fa-eye text-warning"></i>
                                {{"view"|uppercase}}
                            </button>
                        </td>
                        <td>
                            {{data.originalFileName|uppercase}}
                        </td>
                        <td>
                            {{data.rrrCommonDtls.dateIns|uppercase}}
                        </td>
                        <td>
                            {{data.status|uppercase}}
                        </td>
                        <td>
                           <div class="ml-5">
                            <label class="switch">
                                <input type="checkbox" [(ngModel)]="data.isprocessable" (change)="changedDonotProcess($event,data)">
                                <span class="slider round"></span>
                            </label>
                            </div>
                        </td>
                        <td>
                            {{data.fileSize/1000000 +' MB'|uppercase}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>









<ng-template #viewUploadedFile let-modal >
    <div>
    <div class="modal-header">
        <h4 class="modal-title text-success" id="modal-basic-title">{{"File name: "+selectedFile.originalFileName|uppercase}}</h4>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <i class="far fa-times-circle"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="col table-responsive">
            <table class="table-sm  table-hover table-bordered table">
                <thead>
                    <tr>
                        <th>{{"file Path" |uppercase}}</th>
                        <th>{{"upload type" |uppercase}}</th>
                        <th>{{"archive" |uppercase}}</th>
                        <th>{{"record Count" |uppercase}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{selectedFile.filePath}}</td>
                        <td>{{selectedFile.typeOfUpload}}</td>
                        <td>{{selectedFile.archiveStatus}}</td>
                        <td>{{selectedFile.recordCount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="downloadFile(selectedFile)" class="btn-lg text-white btn-primary">
            <i class="fas fa-file-download"></i>
            {{"download file"|uppercase}}
        </button>
        <button type="button" (click)="modal.close('Save click')" class="btn-lg text-white btn-success">
            <i class="fas fa-window-close"></i>
            {{"cancel"|uppercase}}
        </button>
    </div>
</div>
</ng-template>
