<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 pl-0">
            <div class="container-fluid shadow-lg mt-2">
                <div class="row">
                    <div class="col-md-12">
                        <label>{{"format upload"|uppercase}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <i class="fas fa-info-circle text-primary pr-2"></i><label class="textSize">{{"Configured file
                            formats : "+fileType+" File size : 1Bto 60MB"}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
                            <!-- <div>
                                <input class="mb-2" type="file" name="file" [accept]="fileType"
                                    (change)="onFileSelect($event)" />
                                    <label class="custom-file-label" for="inputGroupFile01">{{slectedFile}}</label>
                            </div> -->
                            <div class="custom-file">
                                <input type="file" [accept]="fileType" (change)="onFileSelect($event)" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">{{slectedFile}}</label>
                            </div>
                            <div *ngIf="uploadFileType=='csv'" class="row">
                                <div class="col-md-5">
                                    <i class="fas fa-check-circle pr-2"></i>
                                    <label>{{"delimiter"|uppercase}}</label>
                                </div>
                                <div class="col-md-7">
                                    <select formControlName="delimiter" class="form-control"
                                        (change)="changedDelimiter()">
                                        <option value="">{{"delimiter"|uppercase}}</option>
                                        <option *ngFor="let delimiter of delimiterList" [value]="delimiter">
                                            {{delimiter}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="mt-2 mb-2 float-right">
                                <!-- <button type="submit" class="mb-4">Upload</button> -->
                                <button type="submit" class="btn text-white btn-primary" [disabled]="!slectedFile">
                                    <i class="fas fa-file-upload"></i>
                                    {{"upload"|uppercase}}
                                </button>
                                <!-- <span *ngIf="uploadedFileSize>0" class="pl-5 text-primary">{{"file size:- "+uploadedFileSize+" mb"|uppercase}}</span> -->
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="container-fluid shadow-lg mt-4">
                <div class="row">
                    <div class="col-md-5">
                        <label style="font-size: 13.5px;">{{"configure format"|uppercase}}</label>
                    </div>
                    <div class="col">
                        <div class="btn text-primary" (click)="openFormatView(viewFormatList)">
                        <i style="font-size: 10px;" class="fa fa-list ml-3 mr-1 viewFormat"></i><label class="viewFormat">{{"View configured formats"|lowercase}}</label>
                        </div>
                    </div>
                </div>
                <div class="mt-3">

                    <form [formGroup]="tableConfig" (ngSubmit)="createFormatData()">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fas fa-border-none pr-1"></i>
                                <label class="required">{{"Table Name"|uppercase}}</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" placeholder="Table Name"
                                        oninput="this.value = this.value.toUpperCase()" formControlName="tableName"
                                        (blur)="tableNameValidation($event)" maxlength="25">
                                </div> <!-- form-group// -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <i class="fas fa-audio-description pr-1"></i>
                                <label>{{"File Decription"|uppercase}}</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" placeholder="File Decription"
                                        oninput="this.value = this.value.toUpperCase()"
                                        formControlName="fileDecription">
                                </div> <!-- form-group// -->
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-6">
                                <i class="fas fa-text-height pr-1"></i>
                                <label class="required">{{"Format Name"|uppercase}}</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" placeholder="Format Name"
                                        oninput="this.value = this.value.toUpperCase()" formControlName="formatName"
                                        (blur)="formatNameValidation($event)" maxlength="25">
                                </div> <!-- form-group// -->
                            </div>
                        </div>

                        <div class="row pb-5">
                            <div *ngIf="!editFlag && !viewFlage " class="col-md-6">
                                <button type="submit" class="btn text-white btn-primary" [disabled]="!tableConfig.valid || !isAssignedDataTypeForAll
                             ">
                                    <i class="fas fa-forward pr-1"></i>
                                    {{"submit"|uppercase}}</button>
                            </div>
                            <div *ngIf="!editFlag && !viewFlage" class="col-md-6">
                                <button type="button" routerLink="/" class="btn btn-primary">
                                    <i class="fas fa-backward pr-1"></i>
                                    {{"back"|uppercase}}</button>
                            </div>
                            <div *ngIf="editFlag" class="col-md-6">
                                <button type="button" (click)="deleteFormat()" class="btn-lg btn-primary">
                                    <i class="fas fa-backward pr-1"></i>
                                    {{"delete"|uppercase}}
                                </button>
                            </div>
                            <div *ngIf="editFlag"class="col-md-6">
                                <button type="button" (click)="updateFormat()" class="btn-lg text-white btn-success">
                                    <i class="fas fa-forward pr-1"></i>
                                    {{"update"|uppercase}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 shadow-lg pt-1">
            <div class="row">
            <div class="col-md-6">{{"column details"|uppercase}}</div>
            <div class="col-md-3" *ngIf="viewFlage || editFlag">
                <button type="button" (click)="download()" class="btn-lg text-white btn-success">
                    <i class="fas fa-file-download pr-1"></i>
                    {{"download"|uppercase}}</button>
            </div>
            <div class="col-md-3" *ngIf="viewFlage || editFlag">
                <button type="button" (click)="fileFormatScreen()"class="btn-lg text-white btn-success">
                    <i class="fas fa-backward pr-1"></i>
                    {{"back"|uppercase}}</button>
            </div>
            </div>
            <div class="mt-2" *ngIf="isFileUploaded || viewFlage ||editFlag">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <div class="col table-responsive">
                    <table class="table table-bordered table-striped mb-0 table-sm">
                        <thead>
                            <tr>
                                <th>{{"file column"|uppercase}}</th>
                                <th>{{"database column"|uppercase}}</th>
                                <th style="width: 20%;">{{"datatype "|uppercase}}</th>
                                <th style="width: 10%;">{{"size"|uppercase}}</th>
                                <th style="width: 5%;">{{"nullable"|uppercase}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of formatDataDtls.mappings">
                                <td>{{data.col}}</td>
                                <td>
                                    <div class="row">
                                        <div  class="col-md-12" [ngClass]="checkReservedKeyword(data.tabcol)">
                                            {{data.tabcol}}<button *ngIf="!viewFlage" class="float-right btn text-primary " (click)="open(mymodal,data)">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- <div class="row" *ngIf="!viewFlage">
                                        <div class="col-md-2">
                                            <button class="btn text-primary " (click)="open(mymodal,data)">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>

                                        </div>
                                    </div> -->
                                </td>
                                <td>
                                    <!-- <div *ngIf="!viewFlage">
                                    <select  formControlName="datatype" (change)="getselectedDataType(data)"
                                        class="form-control">
                                        <option value="">{{data.datatype|uppercase}}</option>
                                        <option *ngFor="let datatype of datatypeList" [value]="datatype.name">
                                            {{datatype.name}}
                                        </option>
                                    </select>
                                </div>
                                    <div *ngIf="viewFlage">{{data.datatype}}</div> -->
                                <div class="form-group input-group">
                                    <select [disabled]="viewFlage" [(ngModel)]="data.datatype" (change)="getselectedDataType(data)"
                                    class="form-control">
                                        <option *ngFor="let datatype of datatypeList" [value]="datatype.name">
                                            {{datatype.name}}
                                        </option>
                                    </select>
                                </div>
                                </td>
                                <td>
                                    <!-- <div *ngIf="!viewFlage">
                                        <div *ngIf="data.datatype=='VARCHAR'" class="form-group input-group">
                                            <input type="text"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                            class="form-control" formControlName="datasize" (blur)="dataLength(data)">
                                        </div>
                                    </div>
                                    <div *ngIf="viewFlage">{{data.datasize}}</div> -->
                                    
                                    
                                    <div  class="form-group input-group">
                                        <input type="text"[disabled]="data.datatype!='VARCHAR' || viewFlage"  [(ngModel)]="data.datasize"
                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                        class="form-control" (blur)="dataLength(data)">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check ml-4">
                                        <input [disabled]="viewFlage"  [(ngModel)]="data.isSelected" class="form-check-input" type="checkbox"
                                            (change)="isNullable($event,data)">
                                        <label class="form-check-label"
                                            for="flexCheckDefault">{{data.defaultvalue|uppercase}}</label>
                                      </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- popup page -->

    <ng-template #mymodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{"change table column name"|uppercase}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="far fa-times-circle"></i>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="tableColUpdate">
                <!-- <input type="text" formControlName="updatedColumn" > -->
                <div class="row">
                    <div class="col-md-5">
                        <i class="fa fa-edit pr-1"></i>
                        <label class="required ">{{"column name"|uppercase}}</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()"
                                formControlName="updatedColumn" (keyup)="tableColumnNameValidation($event)"
                                maxlength="25">
                        </div> <!-- form-group// -->
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">cancel</button>
            <button type="button" [disabled]="!this.tableColUpdate.valid || !isValidTableColumn" class="btn btn-success"
                (click)="changedTableColumn()">submit</button>
        </div>
    </ng-template>




    <!-- popup page for format list-->

    <ng-template #viewFormatList let-modal>
        <div>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{"creeated Format List"|uppercase}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="far fa-times-circle"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="table-wrapper-scroll-y my-tab-scrollbar">
            <div class="table-responsive">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th >{{"FORMAT NAME"|uppercase}}</th>
                        <th >{{"table name"|uppercase}}</th>
                        <th >{{"DESCRIPTION "|uppercase}}</th>
                        <th>{{"no. of col"|uppercase}}</th>
                        <th>{{"file EXTENSION"|uppercase}}</th>
                        <th>{{"date of creation"|uppercase}}</th>
                        <th>{{"CREATED BY"|uppercase}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let format of formatList">
                        <td>
                            <div type="button" (click)="viewFormatDtls(format)">
                                <i *ngIf="!format.flag" class="fa fa-eye text-primary"></i>
                                <i *ngIf="format.flag" class="fas fa-pen text-primary"></i> {{format.formatname}} 
                            </div>
                        </td>
                        <td>
                            {{format.tablename}}
                        </td>
                        <td>
                            {{format.tablename}}
                        </td>
                        <td>
                            {{format.colCount}}
                        </td>
                        <td>
                            {{format.fileExt}}
                        </td>
                        <td>
                            {{format.rrrCommonDtls.dateIns}}
                        </td>
                        <td>
                            {{format.rrrCommonDtls.userIns}}
                        </td>
                </tbody>
            </table>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">cancel</button>
        </div>
    </div>
    </ng-template>



    